// app global css in SCSS form

/*
@font-face {
  font-family: GreatVibes;
  src: url(./assets/fonts/GreatVibes-Regular.ttf);
}
*/

//COMMONS
body {background: #121212;}
a {text-decoration: none; color: black}
.clickeable:hover {cursor:pointer}
.q-btn {width:180px; margin:8px}
.q-card {border-radius: 0;}
//END COMMONS

/* Drawer */
// aside {z-index:99999 !important}

//PAGE
.titleEdit {
  text-align: center;
  width: 100%;
  min-height: 40px;
  padding: 12px 0;
  color: white;
  background: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titleEdit .titleCentered {position: absolute; width: 100%}
.titleEdit i {font-size: 22px; margin-right: 6px;}

.page {max-width:1200px; margin:auto; padding-bottom:24px; background: #ffffffbd}
.q-form {max-width:600px; margin:auto; padding:20px}

.uploadFileWrapper {
  margin: 16px auto 6px auto;
  max-width: 516px;
}
.submit {margin: 30px 0 10px 0; min-width: 140px;}
//END PAGE

.commentsWrapper div {border-radius: 12px; padding: 10px; color: white; margin-bottom: 10px}
.commentsWrapper div p{margin-bottom:0}

//DASHBOARD FILES
.wrapperFile {text-align: center;}
.wrapperFile h4 {text-align: left; margin: 0 0 10px 10px; font-size: 24px; text-shadow: 1px 2px 3px #2d2900}

.wrapperFile div{margin:10px; display: inline-block; width: auto}
.wrapperFile div div{display: inline-block;}
.wrapperFile .file {width: 400px; height: 300px;}
.wrapperFile .file .img {background-size:cover; background-position: center; width: 100%; height: 100%; margin: 0}

.wrapperFile .videoContainer, .imgContainer {
  display: flex;
  background-color: #1a1a1ae0;
  width: 100%;
  max-width: 430px;
  // border-radius: 6px;
  // box-shadow: 0 0 9px #8f8f8f;
}
.videoContainer {
  padding: 14px 10px;
}
.imgContainer {
  // background-color: #00000077;
  padding: 2px 0 11px 0;
}
.wrapperFile .videoContainer aside {
  max-width: 300px;
  padding: 0 10px;
}
.wrapperFile .videoContainer aside p.fileName, .imgContainer p.fileName{
  font-size: 18px;
  color: #42b883;
  font-weight: 500;
}
.wrapperFile .videoContainer aside p {
  text-align: left;
  font-size: 16px;
}
.wrapperFile .videoContainer .additionalNote {
  height: 222px;
  padding-right: 6px;
  font-size: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.wrapperFile .videoContainer video{
  width: auto;
  max-width: 172px;
  height: 296px;
  /*border-radius: 6px;
  border: 1px solid white;*/
}

.pdfViewer {
  width: 100%;
  height: 100vh;
}

div.text {min-height: 60px}

@media screen and (max-width: 500px) {
  .wrapperFile .file {width: 370px; height: 320px;}
}

@media screen and (max-width: 400px) {
  .wrapperFile .file {width: 300px; height: 250px;}
}

@media screen and (max-width: 360px) {
  .wrapperFile .file {width: 250px; height: 200px;}
}

//END DASHBOARD FILES

.actions {margin: 6px 0 6px 0; text-align: center;}
small.actions {font-size:12px; display:block; text-align:center; text-decoration: underline;cursor: pointer;}
small.actions:last-child{margin-bottom:0}

/*SPINNER*/
.spinnerWrapper {
  // position: absolute;
  background: rgba(0,0,0,0.85);
  width: 100%;
  height: 100%;
  z-index:99999;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top:0
}

.q-item__section--avatar {
  min-width: auto;
}

.link {cursor: pointer;}
.link:hover {text-decoration: underline;}



//****SCROLL STYLES****
body::-webkit-scrollbar, p.additionalNote::-webkit-scrollbar {
  width: 6px;     /* Tamaño del scroll en vertical */
  height: 6px;    /* Tamaño del scroll en horizontal */
  // display: none;  /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body::-webkit-scrollbar-thumb, p.additionalNote::-webkit-scrollbar-thumb {
  // background: #c9b2b2;
  background: #e2e1e2;
  border-radius: 4px;
}
.q-card::-webkit-scrollbar-thumb {
  background: #c9b2b2;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover, .scroll::-webkit-scrollbar-thumb:hover, p.additionaNote::-webkit-scrollbar-thumb:hover {
  background: #f3f2f3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
body::-webkit-scrollbar-thumb:hover, .scroll::-webkit-scrollbar-thumb:hover, p.additionaNote::-webkit-scrollbar-thumb:hover {
  background: #f3f2f3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active, .scroll::-webkit-scrollbar-thumb:active, p.additionaNote::-webkit-scrollbar-thumb:active {
  // background-color: #c9b2b2;
  background: #e2e1e2;
}
.q-card::-webkit-scrollbar-thumb:active {
  background-color: #c9b2b2;
}
//***END SCROLL STYLES***



@media screen and (max-width: 500px) {
  .flexButtons {flex-wrap: nowrap; margin-bottom: 8px}
  .flexButtons button {width:auto}
}// app global css in SCSS form
